@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(206,205,218);
  background: radial-gradient(circle, rgba(206,205,218,1) 0%, rgba(51,69,157,1) 100%);
}


.vp {
  height: calc(100svh - 82px);
}